.container-login {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 'none';
  background-image: url("https://isomorphic.redq.io/static/media/sign.adf5846b.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.container-login .backgroundColor {
  background-color: rgba(0, 0, 0, 0.6);
}

.container-login .backgroundColor .paperForm {
  padding-top: 10px;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100vh;
  overflow: auto;
}

.container-login .backgroundColor .paperForm .textPara {
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.2;
  color: #c1c1c1;
  padding: 0 20px;
}

.container-login .backgroundColor .paperForm .frameButton {
  border-top: 1px dashed;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.container-login .backgroundColor .paperForm .frameButton .buttonPrimary {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: CYAL;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
}

.container-login .backgroundColor .paperForm .frameButton .btnRed {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #dd4b39;
  background: #dd4b39;
}

.container-login .backgroundColor .paperForm .frameButton .btnRed:hover {
  background-color: #dd4b70;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: '0px';
}

.container-login .backgroundColor .paperForm .frameButton .btnOrange {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #e14615;
  background: #e14615;
}

.container-login .backgroundColor .paperForm .frameButton .btnOrange:hover {
  background-color: #e14655;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
}

.container-login .backgroundColor .paperForm .frameButton .btnYellow {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #FFCA28;
  background: #FFCA28;
}

.container-login .backgroundColor .paperForm .frameButton .btnYellow:hover {
  background-color: #FFCA88;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
}

.container-login .backgroundColor .paperForm .textLinkForgot {
  font-size: 12px;
  color: #797979;
  text-decoration: none;
}

.container-login .backgroundColor .paperForm .textLinkCreate {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 30px;
}

.container-login .backgroundColor .paperForm .checkboxRememberPass {
  margin-top: 10px;
}

.container-login .backgroundColor .paperForm .container-form {
  padding: 20px;
}

.paper {
  padding-top: 10px;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-register {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("https://isomorphic.redq.io/static/media/work.56bf9122.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.container-register .backgroundColor {
  background-color: rgba(0, 0, 0, 0.6);
}

.container-register .backgroundColor .paper {
  padding-top: 10px;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100vh;
  overflow: auto;
}

.container-register .backgroundColor .paper .frameButton {
  border-top: 1px dashed;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.container-register .backgroundColor .paper .frameButton .buttonPrimary {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: CYAL;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
}

.container-register .backgroundColor .paper .frameButton .btnRed {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #dd4b39;
  background: #dd4b39;
}

.container-register .backgroundColor .paper .frameButton .btnRed:hover {
  background-color: #dd4b70;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: '0px';
}

.container-register .backgroundColor .paper .frameButton .btnOrange {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #e14615;
  background: #e14615;
}

.container-register .backgroundColor .paper .frameButton .btnOrange:hover {
  background-color: #e14655;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
}

.container-register .backgroundColor .paper .frameButton .btnYellow {
  text-align: center;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  margin-top: 10px;
  background-color: #FFCA28;
  background: #FFCA28;
}

.container-register .backgroundColor .paper .frameButton .btnYellow:hover {
  background-color: #FFCA88;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
}

.container-register .backgroundColor .paper .textLinkCreate {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 30px;
}

.container-register .backgroundColor .paper .container-form {
  padding: 20px;
}

.container-register .backgroundColor .paper .container-form .formInline {
  width: 100%;
}

.container-forgot {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("https://isomorphic.redq.io/static/media/image3.d032955c.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.container-forgot .backgroundColor {
  background-color: rgba(0, 0, 0, 0.6);
}

.container-forgot .backgroundColor .FormData {
  border: 0;
}

.container-forgot .backgroundColor .paper {
  padding-top: 10px;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100vh;
  overflow: auto;
}

.container-forgot .backgroundColor .paper .textBold {
  color: black;
  text-align: left;
  font-weight: bold;
}

.container-forgot .backgroundColor .paper .text {
  text-align: left;
  color: black;
}

.container-forgot .backgroundColor .paper .validatorForm {
  text-align: center;
}

.container-forgot .backgroundColor .paper .button {
  text-align: center;
  background: #4482FF;
  border-radius: 3;
  border: 0;
  color: white;
  width: 100%;
  height: 48px;
  margin-Top: 10px;
}

h2 {
  color: black;
}

.container-contact {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
}

.container-contact .paper {
  text-align: center;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.container-contact .paper .menu-header-contact {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: -2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-contact .paper .menu-header-contact .contentItemContact {
  height: 100%;
}

.container-contact .paper .menu-header-contact .contentItemContact .content {
  margin-top: 64px;
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .SearchListItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px outset;
  border-left: 1px outset;
  border-bottom: 1px inset;
  border-right: 1px inset;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 30%;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .SearchListItem .listItem {
  border-top: 1px outset;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .SearchListItem .row-item {
  max-height: 400px;
  margin-top: 5px;
  overflow-x: scroll;
  width: 100%;
}

.container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .FormContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px outset;
  border-left: 1px outset;
  border-bottom: 1px inset;
  border-right: 1px inset;
  overflow: hidden;
  width: 70%;
}

@media screen and (max-width: 760px) {
  .container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .SearchListItem {
    width: 100%;
  }
  .container-contact .paper .menu-header-contact .contentItemContact .content .listItemContent .FormContent {
    width: 100%;
  }
}

.container-contact .paper .menu-header-contact .menu-content-left {
  width: 100%;
  max-width: 360px;
  background-color: rgba(255, 255, 255, 0.65);
}

.container-contact .paper .menu-header-contact .menu-content-left .listSubheader {
  min-height: 64px;
  background-color: black;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 300px;
  line-height: 64px;
  letter-spacing: 3px;
  color: #F9F9F9;
  display: block;
  text-decoration: none;
}

.container-contact .paper .menu-header-contact .menu-content-left .menu {
  max-height: 600px;
  background: transparent;
  color: white;
  background-color: #001529;
  opacity: 0.9;
  filter: alpha(opacity=60);
  overflow-y: auto;
  overflow-x: hidden;
}

.container-contact .paper .menu-header-contact .menu-content-left .menu .textInMenu {
  color: #fff;
  font-size: 21px;
}

.container-contact .paper .menu-header-contact .menu-content-left .menu .nested {
  padding-left: 40px;
}

.container-crud {
  margin: 20px;
  padding: 0;
}

.container-crud .container-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-crud .container-content .container-table {
  margin: 5px;
  padding: 5px;
}

.container-crud .container-content .container-table .row-button .button-left {
  float: left;
}

.container-crud .container-content .container-table .row-button .button-right {
  margin-left: 10px;
  float: right;
  text-align: right;
}

.container-crud .container-content .container-table .row-button .button-right .backGround-dropdown {
  background-color: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-crud .container-content .container-table .button-table {
  text-align: center;
}

.container-crud .dropdown-menu {
  height: 120px;
  width: 200px;
  overflow-y: scroll;
}
/*# sourceMappingURL=style.css.map */